.home__headline {
    min-height: 300px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 1em;
}

.fullbleed--home {
    position: relative;
}

.fullbleed--home::after {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    width: 100%;
    height: 4px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, var(--primary), var(--secondary))
}

.home__headline img {
    align-self: end;
    width: 250px;
    height: auto;
}

@media (max-width: 500px) {
    .home__headline {
        min-height: 0;
        flex-direction: column;
    }
    .home__headline img {
        align-self: center;
        justify-self: end;
        width: 150px;
        height: auto;
    }
}

.home__headline .logo--large {
    color: var(--text-light);
    height: 64px;
    max-width: 100%;
}

.home__headline__heading {
    font-size: 1.07rem;
    font-weight: 400;
    align-self: center;
    color: var(--text-light);
}
