$gutterless-grid: (columns: 12, gutter: 0)
section
section, blockquote, .modal
  +grid-container
  padding: 30px 0
  +tablet
    padding: 60px 0
  .full
    +clearfix()
    +grid-column(12)
  .half
    +grid-column(6)
  .center
    text-align: center
  &.full-bleed
    padding: 0
    .full
      +clearfix()
      +grid-column(12, $gutterless-grid)
    .half
      +grid-column(6, $gutterless-grid)
    
@media (max-width: $mobile-max)
  section, blockquote, .modal
    .half
      +grid-column(12)

.full-background
  width: 100%
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
