node_modules/
.DS_Store
.sass-cache/*
/sass-cache
Thumbs.db
.idea/
.vs/*
public
build
release
__diff_output__
yarn-error.log
icon-processor/*
!icon-processor/.gitkeep

source/_patterns/02-organisms/00-global/footer-v4/footer-v4.mustache
source/_patterns/02-organisms/00-global/footer_no_scripts-v4/footer_no_scripts-v4.mustache
source/_patterns/02-organisms/00-global/footer_scripts-v4/footer_scripts-v4.mustache
source/_patterns/02-organisms/00-global/head_section-v4/head_section-v4.mustache
source/_patterns/02-organisms/00-global/header-v4/header-v4.mustache
source/css/*
!source/css/.gitkeep
source/_patterns/00-atoms/icons/_all-categories.mustache
source/_patterns/00-atoms/icons/_all-icons.mustache
source/_patterns/00-atoms/icons/_icon.mustache
source/_patterns/07-visual-directory/*

temp/

__tests__/_lib/environment/visual-regression/tmp.json

test_reports/*
!test_reports/.gitkeep

artifacts
*.fail.png
*.diff.png

.vagrant

testing

debug.log