---
layout: layouts/landing.njk
title: About Me
tags:
  - nav
navtitle: About
navorder: 0
templateClass: template--about
---

<img class="portrait" src="/img/portrait-white.jpg" alt="Andrew Leedham Portrait">

I am a person that writes stuff.

<h3>Check out my latests blog posts</h3>

{% set postslist = collections.posts | head(-3) %}
{% include "components/postslist.njk" %}

<p>More posts can be found <a href="{{ '/blog/' | url }}">here</a>.</p>

