---
layout: page
title: Photography
permalink: /photo/

---
<div class="full">
  <h3>Photo shoots</h3>
</div>
<div class="full">
  <div class="thumbnail-list">
    {% for post in site.posts reversed %}
      {% if post.categories contains "photography" %}
        <div>
          <a href="{{ post.url }}">
            <img src="{% if post.thumbnail %}{{ site.baseurl }}/{{ post.gallery | prepend: 'img/galleries/' }}/{{ post.thumbnail }}{% else %}{{ '/img/project_placeholder.png' }}{% endif %}"
                 alt="{{ post.title }} post thumbnail.">
            <p>
              <h3>{{ post.title }}</h3>
              {{ post.content | truncate: 128, '...' }}
            </p>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
