.split {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 575px) {
  .split {
    flex-direction: row;
  }
}

.panel {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
  padding: 6vw 3vw;
}

@media (min-width: 375px) {
  .panel {
    padding: 22px 11px;
  }
}

@media (min-width: 575px) {
  .panel {
    width: 50%;
    flex-grow: 1;
  }
}

.panel:first-child {
  align-items: center;
  border-bottom: 0.25rem solid black;
}

.panel:last-child {
  background: var(--primary);
  border-top: 0.25rem solid black;
}

@media (min-width: 575px) {
  .panel:first-child {
    border-bottom: 0;
    border-right: 0.25rem solid black;
  }
  .panel:last-child {
    align-items: center;
    border-top: 0;
    border-left: 0.25rem solid black;
  }
}
