<script src="{{ "/jquery-2.2.0.min.js" | prepend: site.jspath | prepend: site.baseurl }}"></script>
<script src="{{ "/script.js" | prepend: site.jspath | prepend: site.baseurl }}"></script>
{% if include.landing %}
  <script>
    $(document).ready(function(){
      function scroll(){
        if($(document).scrollTop() > 0)
        {
          $("nav").addClass("fixed");
          if($(document).outerWidth() <= 500 && $("nav #links").css("display") != "none" && !$("nav #links").is(":animated")){
            $("nav.fixed").css({
              left: -($("nav #links").outerWidth())
            });
          }
        }else{
          $("nav").removeClass("fixed");
          if($(document).outerWidth() <= 500 && $("nav #links").css("display") != "none"){
            $("nav").css({
              left: ""
            });
          }
        }
      }
      scroll();
      $(document).scroll(function(){
        scroll();
      });
    });
  </script>
{% else %}
<script>
  function resize(){
      $("#offset").height($("nav").outerHeight());
  }
  resize();
  $(window).resize(resize);
</script>
{% endif %}

<footer>
  <section class="full-background">
    <div id="links">
      <div>
        <h4>Get Social</h4>
        <ul>
          <li><a href="{{ site.instagram }}"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a href="{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>
          <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> Email</a></li>
          <li><a href="{{ site.linkedin }}"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="{{ site.github }}"><i class="fa fa-github"></i> GitHub</a></li>
        </ul>
      </div>
      <div>
        <h4>Resources</h4>
        <ul>
          <li><a href="http://google.com/fonts" target="_blank"><i class="fa fa-google"></i> Google Fonts</a></li>
          <li><a href="https://unsplash.com/" target="_blank"><i class="fa fa-camera"></i> Unsplash</a></li>
          <li><a href="http://formspree.io/" target="_blank"><i class="fa fa-list-alt"></i> Formspree</a></li>
          <li><a href="https://disqus.com/" target="_blank"><i class="fa fa-microphone"></i> Disqus</a></li>
          <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank"><i class="fa fa-flag"></i> Font Awesome</a></li>
        </ul>
      </div>
      <div>
        <h4>Site Map</h4>
        <ul>
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="/archive"><i class="fa fa-align-left"></i> Blog Archive</a></li>
        </ul>
      </div>
    </div>
    <div id="desc">
      <div class="center">
        <span>Andrew Leedham’s Portfolio. Web Design, Web Developement, Game Development, Photography and much more...</span>
      </div>
      <div class="center">
        <span>&copy; Andrew Leedham 2016 &copy;</span>
      </div>
    </div>
  </section>
</footer>
