<footer>
  <section>
    <div class="third">
      <ul>
        <li><a href="https://github.com/{{ site.github_username }}" target="_blank">{{ site.github_username }} <span class="icon-github"></span></a></li>
        <li><a href="mailto:{{ site.email }}" target="_blank">{{ site.email }} <span class="icon-mail"></span></a></li>
        <li><a href="https://{{ site.tumblr_username }}.tumblr.com/" target="_blank">{{ site.tumblr_username }} <span class="icon-tumblr2"></span></a></li>
      </ul>
    </div>
    <div class="third">
      &copy; Andrew Leedham 2016
    </div>
    <div class="third">
      {{ site.description }}
    </div>
  </section>
</footer>
