{% if include.landing %}
  <nav>
{% else %}
  <nav class="fixed">
{% endif %}
  <div id="logo">
    <a href="{{ '/' | prepend: site.baseurl }}">{% include logo.svg %}</a>
  </div>
  <div id="links">
    <ul>
      <a href="/#about-anchor">
        <li>About</li>
      </a>
      <a href="/#portfolio-anchor">
        <li>Portfolio</li>
      </a>
      <a href="/#blog-anchor">
        <li>Blog</li>
      </a>
      <a href="/#contact-anchor">
        <li>Contact</li>
      </a>
    </ul>
  </div>
  <div id="mobile">
    <a href="javascript:void(0)"><i class="fa fa-bars"></i></a>
  </div>
</nav>
