{% if include.landing %}
  <nav>
{% else %}
  <nav class="fixed">
{% endif %}
  <div id="logo">
    <a href="{{ site.url }}"><img src="{{ 'logo.png' | prepend: site.imagepath | prepend: site.baseurl }}" alt="Andrew Leedham's Portfolio Logo"/></a>
  </div>
  <div id="links">
    <ul>
      <a href="#about">
        <li>About</li>
      </a>
      <a href="#portfolio">
        <li>Portfolio</li>
      </a>
      <a href="#blog">
        <li>Blog</li>
      </a>
      <a href="#contact">
        <li>Contact</li>
      </a>
    </ul>
  </div>
</nav>
