{% include header.html %}
<header id="landing">
  <ul class="landing__icons">
    <li><a href="{{ site.instagram }}"><i class="fa fa-lg fa-instagram"></i></a></li>
    <li><a href="{{ site.stackoverflow }}"><i class="fa fa-lg fa-stack-overflow"></i></a></li>
    <li><a href="mailto:{{ site.email }}"><i class="fa fa-lg fa-envelope"></i></a></li>
    <li><a href="{{ site.linkedin }}"><i class="fa fa-lg fa-linkedin"></i></a></li>
    <li><a href="{{ site.github }}"><i class="fa fa-lg fa-github"></i></a></li>
  </ul>
  {% include title.svg %}
  <p>Front End Web Developer</p>
</header>
