// SASS Mixins and Variables.

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

@mixin fade{
  transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
}

$accent-light: #77DD77;
$accent-dark: #4E914E;
