// The styling for general containers.

//Global Styles
a{
  text-decoration: none;
  color: $accent-dark;
  @include fade;
}
a:hover{
  color: $accent-light;
}

p{
  line-height: 250%;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}

// Header Styling
.header-link{
  color: black;
  font-size: 25px;
}

#title{
  text-align: center;
  padding: 50px 0;
  a{
    font-size: 100px;
  }
}

header{
  nav{
    ul{
      border: solid black;
      border-width: 1px 0px;
      text-align: center;
      li{
        margin: 0 10px;
        display: inline-block;
      }
    }
  }
}

//Content Styling
section{
  padding: 50px 0;
}

.thumbnail-list{
  li{
    margin: 0;
    display: inline-block;
    width: 33.33%;
    a, img{
      width: 100%;
      height: 100%;
    }
  }
}

//Footer Styling
footer .row{
  padding: 20px 0;
  border-top: 1px solid black;
}
