@import "tailwindcss";

@theme {
  --color-background: light-dark(
    var(--color-slate-100),
    var(--color-slate-950)
  );
  --color-subtle: light-dark(var(--color-slate-300), var(--color-slate-800));
  --color-border: light-dark(var(--slate-950), var(--color-slate-100));
  --color-border-subtle: light-dark(var(--slate-800), var(--color-slate-300));
  --color-text: light-dark(var(--color-black), var(--color-white));
  --color-text-subtle: light-dark(
    var(--color-neutral-600),
    var(--color-neutral-300)
  );
  --color-primary: var(--color-teal-300);
  --color-secondary: var(--color-amber-500);

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100%: {
      transform: rotate(-10deg);
    }
  }
  --animate-wave: wave 1s ease-in-out infinite;
}

@layer base {
  @view-transition {
    navigation: auto;
  }

  @media (prefers-reduced-motion: reduce) {
    @view-transition {
      navigation: none;
    }
  }

  html {
    color-scheme: light dark;
  }

  html.dark-mode {
    color-scheme: dark;
  }

  html.light-mode {
    color-scheme: light;
  }

  body {
    background: var(--color-background);
  }

  *:focus {
    outline: 2px solid var(--color-secondary);
    outline-offset: 3px;
  }

  *::selection {
    background-color: var(--color-secondary);
    color: black;
  }

  code:where(:not([class^="twoslash"])) {
    padding: 2px 5px;
    background-color: var(--color-background-subtle);
    border-radius: 2px;
  }
  pre {
    padding: 1.5em;
    border-radius: 8px;
  }
  pre > code {
    all: unset;
    background-color: transparent;
  }

  .prose p {
    margin-block: 1em;
  }

  .prose :is(h1, h2, h3, h4, h5, h6) + p {
    margin-block-start: 0.25em;
  }

  .prose a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    margin-block: 0.5em 0.25em;
    color: var(--color-text);
    line-height: 1.2;
  }
  .prose h1 {
    font-size: 3.052em;
  }
  .prose h2 {
    font-size: 2.441em;
  }
  .prose h3 {
    font-size: 1.953em;
  }
  .prose h4 {
    font-size: 1.563em;
  }
  .prose h5 {
    font-size: 1.25em;
  }
  .prose strong,
  .prose b {
    font-weight: 700;
  }
  .prose blockquote {
    border-left: 4px solid var(--color-primary);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
  }

  .prose table {
    width: 100%;
  }
  .prose img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@custom-variant light (&:where(.light-mode, .light-mode *));
