:global(main) {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
}

:global(*) {
  box-sizing: border-box;
}

:global(html) {
  font-size: 20px;
}

@media (min-width: 575px) {
  :global(html) {
    font-size: 16px;
  }
}
