:global(:root) {
  --light-grey: #f5f5f5;
  --dark-grey: #595959;
  --primary: #2c7d6b;

  --secondary: #2e88b0;
}

:global(main) {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
}

:global(*) {
  box-sizing: border-box;
}

:global(html) {
  font-size: 20px;
}

@media (min-width: 575px) {
  :global(html) {
    font-size: 16px;
  }
}

:global(hr) {
  border: 0;
  border-bottom: 0.25rem solid black;
}

:global(a) {
  color: inherit;
  transition: color 0.25s ease-in-out;
}

:global(a:hover),
:global(a:focus),
:global(a:active) {
  color: var(--secondary);
}
