/* MODULES */
.is {
  width: 32px;
  height: 32px;
  fill: black; }
  .is.is-64 {
    width: 64px;
    height: 64px; }
  .is.is-128 {
    width: 128px;
    height: 128px; }
  .is.is-light-grey {
    fill: #bfbfbf; }

/* BASE */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section, blockquote, .modal {
  padding: 30px 0; }
  section::after, blockquote::after, .modal::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 769px) {
    section, blockquote, .modal {
      padding: 60px 0; } }
  section .full, blockquote .full, .modal .full {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
    section .full::after, blockquote .full::after, .modal .full::after {
      clear: both;
      content: "";
      display: table; }
  section .half, blockquote .half, .modal .half {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; }
  section .center, blockquote .center, .modal .center {
    text-align: center; }
  section.full-bleed, blockquote.full-bleed, .modal.full-bleed {
    padding: 0; }
    section.full-bleed .full, blockquote.full-bleed .full, .modal.full-bleed .full {
      width: calc(100%);
      float: left;
      margin-left: 0; }
      section.full-bleed .full::after, blockquote.full-bleed .full::after, .modal.full-bleed .full::after {
        clear: both;
        content: "";
        display: table; }
    section.full-bleed .half, blockquote.full-bleed .half, .modal.full-bleed .half {
      width: calc(50%);
      float: left;
      margin-left: 0; }

@media (max-width: 768px) {
  section .half, blockquote .half, .modal .half {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; } }

.full-background {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

section {
  position: relative; }

.section__title {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  background: white;
  z-index: 1;
  padding: 20px 0;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease-in-out;
  transform: translateY(-50%); }
  .js .section__title {
    transform: translateY(0); }
  .section__title.in {
    transform: translateY(-50%); }
  .section__title h1 {
    margin: 0; }

:root {
  font-size: 16px; }

body {
  min-width: 320px; }

body, select {
  font-family: 'Roboto', sans-serif; }

code {
  font-family: 'Roboto Mono', monospace, sans-serif; }

h1 {
  font-size: 30px; }
  @media (min-width: 1200px) {
    h1 {
      font-size: 36px; } }

h2 {
  font-size: 28px; }
  @media (min-width: 1200px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-size: 24px; }
  @media (min-width: 1200px) {
    h3 {
      font-size: 28px; } }

p, ul, ol {
  font-size: 16px;
  line-height: 24px; }
  @media (min-width: 1200px) {
    p, ul, ol {
      font-size: 19px;
      line-height: 26px; } }

h1, h2, h3, p, ul, ol {
  margin-bottom: 1em; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: initial; }

ul, ol {
  list-style-position: outside;
  padding: 0 16px; }
  ul li, ol li {
    margin: 16px 0; }
    ul li:first-child, ol li:first-child {
      margin-top: 0; }
    ul li:last-child, ol li:last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 12px solid #32807e;
  margin: 16px; }
  blockquote em {
    text-decoration: none;
    color: #bfbfbf; }

/* LAYOUTS */
a {
  color: #0a1a19;
  transition: color .25s ease-in-out;
  text-decoration: none;
  outline: 0;
  border: 0; }
  a:hover {
    color: #4bbfbd; }

button, a.button, input[type=submit], label.button {
  cursor: pointer;
  display: inline-block;
  color: #e6e6e6;
  background: #32807e;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  padding: 0.75rem 3rem;
  border: 0.0625rem solid #32807e;
  transition: .25s ease-in-out;
  font-family: inherit;
  font-size: 100%; }
  button.button-hollow, a.button.button-hollow, input[type=submit].button-hollow, label.button.button-hollow {
    border: 0.0625rem solid white;
    background: transparent; }
    button.button-hollow:hover, a.button.button-hollow:hover, input[type=submit].button-hollow:hover, label.button.button-hollow:hover {
      background: white;
      color: black; }
  button:hover, a.button:hover, input[type=submit]:hover, label.button:hover {
    background: none;
    color: #32807e; }

.seperator {
  height: 16rem;
  background: url(../img/pattern.jpg);
  background-attachment: fixed; }

nav {
  box-sizing: border-box;
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  padding: 30px;
  border: 0;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem; }
  nav:hover #links, nav:focus #links {
    width: 255px; }
  nav #logo {
    float: right; }
    nav #logo svg {
      width: 40px;
      height: 40px; }
  nav #links {
    float: right;
    overflow: hidden;
    width: 0px;
    transition: width 0.25s ease-in-out; }
    nav #links ul {
      margin: 0;
      padding: 0;
      overflow: visible;
      height: 40px;
      width: 255px;
      box-sizing: border-box; }
      nav #links ul a li {
        padding: 0;
        margin: 0;
        display: inline;
        margin-right: 45px; }
        nav #links ul a li svg {
          width: 40px;
          height: 40px; }

header#parallax {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  header#parallax svg {
    filter: drop-shadow(0.0625rem 0.0625rem 0.5rem rgba(0, 0, 0, 0.5));
    width: 300px; }
  header#parallax p {
    filter: drop-shadow(0.0625rem 0.0625rem 0.2rem rgba(0, 0, 0, 0.5));
    color: white;
    font-size: 1.6rem;
    margin-bottom: 0;
    margin-top: 5px; }

.header__image--background, .header__image--foreground {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none; }

.header__image--background {
  background-image: url(../img/header-background.jpg);
  min-width: 1920px;
  min-height: 1230px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, calc(-50% + 75px)); }

.header__image--foreground {
  background-image: url(../img/header-foreground.png);
  min-width: 1920px;
  min-height: 1080px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, calc(-50%)); }

#about article {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh; }
  #about article:nth-child(odd) {
    border-left: 10px solid; }
  #about article:nth-child(even) {
    border-right: 10px solid; }
  #about article .text {
    box-sizing: border-box;
    padding: 20px; }
    #about article .text p {
      margin-bottom: 0; }
  #about article .text, #about article .image {
    width: 100%; }
    @media (min-width: 769px) {
      #about article .text, #about article .image {
        width: 50%; } }
  #about article .image {
    flex-grow: 1;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    @media (min-width: 769px) {
      #about article .image {
        height: 540px; } }
  @media (min-width: 769px) {
    #about article {
      border: 0 !important;
      flex-direction: row;
      height: auto; }
      #about article .text {
        position: relative;
        padding: 30px 30px 30px 90px; }
        #about article .text .title-container {
          position: absolute;
          left: 0;
          bottom: 0;
          min-height: 100%;
          height: auto;
          width: 60px;
          border-right: 10px solid;
          box-sizing: border-box; }
          #about article .text .title-container h2 {
            font-size: 24px;
            white-space: nowrap;
            width: auto;
            position: absolute;
            left: 30px;
            bottom: 0;
            margin: 0;
            transform-origin: bottom left;
            transform: rotate(-90deg) translate(0, 50%); }
      #about article:nth-child(even) .text {
        order: -1; } }

.tile-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .tile-grid figure {
    position: relative;
    min-width: 100%;
    min-height: 400px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-grow: 1; }
    @media (min-width: 769px) {
      .tile-grid figure {
        min-width: 50%; } }
    @media (min-width: 1200px) {
      .tile-grid figure {
        min-width: 33.3%; } }
    .tile-grid figure img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%); }
    .tile-grid figure .blur {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      filter: blur(10px) brightness(130%);
      opacity: 0;
      transition: opacity .5s ease-in-out; }
    .tile-grid figure.instagram figcaption {
      background-color: transparent !important;
      background-image: radial-gradient(circle at 33% 100%, rgba(254, 211, 115, 0.7) 4%, rgba(241, 82, 49, 0.7) 30%, rgba(217, 46, 127, 0.7) 62%, rgba(155, 54, 183, 0.7) 85%, rgba(81, 94, 207, 0.7)); }
    .tile-grid figure figcaption {
      opacity: 0;
      color: white;
      text-align: center;
      font-size: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity .5s ease-in-out, max-height 0s linear .5s, visibility 0s linear .5s;
      padding: 30px;
      box-sizing: border-box;
      max-height: 0;
      visibility: hidden;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .tile-grid figure figcaption > * {
        max-width: 100%; }
      .tile-grid figure figcaption h2 {
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 100%; }
      .tile-grid figure figcaption p {
        text-align: left; }
        .tile-grid figure figcaption p img {
          display: none; }
    .tile-grid figure:hover .blur, .tile-grid figure:focus .blur {
      opacity: 1; }
    .tile-grid figure:hover figcaption, .tile-grid figure:focus figcaption {
      transition: opacity .5s ease-in-out, max-height 0s linear 0s, visibility 0s linear 0s;
      max-height: 9999px;
      visibility: visible;
      opacity: 1; }

#blog ul li {
  position: relative;
  border-left: 0.75rem solid;
  padding: 0.5rem 1rem 1rem 1.5rem;
  margin-bottom: 4rem; }
  #blog ul li h3 {
    font-size: 2rem; }
  #blog ul li p {
    padding: 1rem 0; }
  #blog ul li span.more {
    position: absolute;
    bottom: 0;
    right: 0; }
  #blog ul li:nth-child(4n+1) {
    border-color: #0a1a19; }
  #blog ul li:nth-child(4n+2) {
    border-color: #19403e; }
  #blog ul li:nth-child(4n+3) {
    border-color: #32807e; }
  #blog ul li:nth-child(4n+4) {
    border-color: #4bbfbd; }
  #blog ul li::before {
    content: attr(data-date);
    position: absolute;
    left: -0.75rem;
    bottom: 0;
    color: #bfbfbf;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(0, -100%); }

#archive #sort {
  text-align: right;
  padding-right: 2rem; }
  #archive #sort > div {
    display: inline-block; }
  #archive #sort select {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    border-bottom: 0.75rem solid #32807e;
    padding: 0.5rem 0; }
    #archive #sort select option {
      font-size: 1.25rem; }
  #archive #sort ul li {
    margin: 2rem 0;
    font-size: 1.25rem; }
    #archive #sort ul li.active {
      text-decoration: underline; }

@media (max-width: 900px) {
  #archive #sort {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    text-align: center;
    padding-right: 0;
    height: auto; }
    #archive #sort > div {
      display: block;
      width: 100%;
      margin-bottom: 2rem; }
    #archive #sort ul {
      column-count: 3;
      margin-top: 2rem;
      height: auto; }
      #archive #sort ul li {
        margin-top: 0; }
  #archive #blog {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 550px) {
  #archive #sort ul {
    column-count: 2; } }

@media (max-width: 370px) {
  #archive #sort ul {
    column-count: 1; } }

#hello {
  background-image: url(../img/hello.jpg);
  color: white; }
  #hello ul li {
    font-size: 4rem;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    border-radius: 100%;
    background: #32807e;
    color: white;
    margin: 2.5rem;
    border: 0.2rem solid #32807e;
    transition: background .25s ease-in-out, color .25s ease-in-out; }
    #hello ul li:hover {
      background: none;
      color: #32807e; }

#contact form * {
  display: inline-block; }

#contact form label {
  font-size: 1.25rem;
  padding: 0.2rem;
  padding-left: 0;
  margin-top: 2rem; }

#contact form input[type=text], #contact form textarea {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  border: 0.0625rem solid black;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  transition: border-color .25s ease-in-out; }
  #contact form input[type=text]:focus, #contact form textarea:focus {
    outline: 0;
    border-color: #4bbfbd; }

#contact form input[type=submit] {
  margin: 2rem 0;
  width: 100%; }

#contact form textarea {
  max-width: 100%; }

@media (max-width: 650px) {
  form .half {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; } }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; }
  footer img {
    width: 40px;
    height: auto; }
  footer span {
    color: #bfbfbf; }
    footer span a {
      color: inherit;
      border-bottom: 1px dotted; }

.highlighter-rouge {
  background: #e6e6e6;
  border-radius: 0 0.625rem 0 0.625rem;
  padding: 0 0.5rem; }

.highlight {
  background: #e6e6e6;
  border-radius: 0 0.625rem 0 0.625rem;
  padding: 1rem;
  margin: 1rem 0; }
  .highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
    color: #4bbfbd;
    font-style: italic; }
  .highlight .err {
    border: 1px solid #FF0000; }
  .highlight .k {
    color: #32807e;
    font-weight: bold; }
  .highlight .o {
    color: #32807e;
    font-weight: bold; }
  .highlight .gd {
    color: #404040; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #FF0000; }
  .highlight .gh {
    color: #000000;
    font-weight: bold; }
  .highlight .gi {
    color: #32807e; }
  .highlight .go {
    color: #19403e; }
  .highlight .gp {
    color: #0a1a19;
    font-weight: bold; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #000000;
    font-weight: bold; }
  .highlight .gt {
    color: #19403e; }
  .highlight .kc, .highlight .kd, .highlight .kn {
    color: #32807e;
    font-weight: bold; }
  .highlight .kp, .highlight .kr, .highlight .kt {
    color: #4bbfbd; }
  .highlight .m, .highlight .s, .highlight .na {
    color: #4bbfbd; }
  .highlight .nb {
    color: #19403e; }
  .highlight .nc {
    color: #32807e;
    font-weight: bold; }
  .highlight .no {
    color: #19403e; }
  .highlight .nd, .highlight .ne, .highlight .ni, .highlight .nf, .highlight .nl, .highlight .nn, .highlight .nt, .highlight .nb {
    color: #32807e; }
  .highlight .ow {
    color: #32807e;
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .il {
    color: #4bbfbd; }
  .highlight .bp {
    color: #0a1a19; }
  .highlight .vc, .highlight .vg, .highlight .vi {
    color: #0a1a19; }

.tile-grid input[type="radio"] {
  display: none; }

.modal-container {
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: white;
  box-sizing: border-box;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0s linear 0.5s, visibility 0s linear 0.5s; }
  input[type="radio"]:not(:checked) + .modal-container {
    transition: opacity 0.5s ease-in-out, max-height 0s linear, visibility 0s linear;
    visibility: visible;
    max-height: 9999px;
    opacity: 1; }
  .modal-container .close {
    position: fixed;
    right: 0;
    top: 0;
    line-height: 0; }
    @media (min-width: 1200px) {
      .modal-container .close {
        padding: 30px 30px 0 0; } }
    .modal-container .close svg.is {
      width: 48px;
      height: 48px;
      fill: #bfbfbf;
      cursor: pointer;
      transition: transform 0.5s ease-in-out;
      transform-origin: center center;
      transform: rotate(0deg); }
      @media (min-width: 1200px) {
        .modal-container .close svg.is {
          width: 64px;
          height: 64px; } }
      html.no-touch .modal-container .close svg.is:hover {
        transform: rotate(90deg); }
  .modal-container .left-control, .modal-container .right-control {
    z-index: 21;
    user-select: none;
    position: fixed;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%); }
    .no-js .modal-container .left-control, .no-js .modal-container .right-control {
      display: none; }
    .modal-container .left-control svg.is, .modal-container .right-control svg.is {
      width: 48px;
      height: 48px;
      fill: #bfbfbf;
      cursor: pointer; }
      @media (min-width: 1200px) {
        .modal-container .left-control svg.is, .modal-container .right-control svg.is {
          width: 100px;
          height: 100px; } }
  .modal-container .left-control {
    left: 10px;
    margin-left: -24px; }
  .modal-container .right-control {
    right: 10px;
    margin-right: -24px; }
  @media (min-width: 1200px) {
    .modal-container .left-control {
      left: 10%;
      margin-left: -50px; }
    .modal-container .right-control {
      right: 10%;
      margin-right: -50px; } }

.modal {
  background: white;
  display: none;
  max-height: 0;
  visibility: hidden;
  box-sizing: border-box;
  width: 100%; }
  input[type="radio"]:checked + .modal {
    display: block; }
  .modal h2 {
    display: inline-block;
    width: auto;
    text-align: right;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; }
    .modal h2 span.date {
      width: 100%;
      font-size: 20px;
      color: #bfbfbf; }
  .modal .content {
    margin-bottom: 2rem;
    padding: 60px 0;
    box-sizing: border-box; }
    @media (min-width: 1200px) {
      .modal .content {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 60%; } }
    .modal .content img {
      max-width: 100%;
      margin: 1rem 0; }
    .modal .content a {
      border-bottom: 1px dotted; }

@keyframes leftActive {
  0% {
    max-height: 0px;
    visibility: hidden;
    transform: translate(-100%, 0); }
  1% {
    max-height: 9999px;
    visibility: visible; }
  100% {
    transform: translate(0, 0);
    max-height: 9999px;
    visibility: visible; } }

@keyframes rightActive {
  0% {
    max-height: 0px;
    min-height: 0px;
    visibility: hidden;
    transform: translate(100%, 0); }
  1% {
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  100% {
    transform: translate(0, 0);
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; } }

@keyframes leftPrev {
  0% {
    position: fixed;
    transform: translate(0, 0);
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  99% {
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  100% {
    position: absolute;
    transform: translate(-100%, 0);
    max-height: 0px;
    min-height: 0px;
    visibility: hidden; } }

@keyframes rightPrev {
  0% {
    position: fixed;
    transform: translate(0, 0);
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  99% {
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  100% {
    position: absolute;
    transform: translate(100%, 0);
    max-height: 0px;
    min-height: 0px;
    visibility: hidden; } }

input[type="radio"]:checked + .modal {
  min-height: 100%;
  transform: translate(0, 0);
  max-height: 9999px;
  visibility: visible; }

html.js .modal {
  position: absolute;
  overflow: hidden; }
  html.js .modal.prev {
    display: block; }
    html.js .modal.prev.left {
      animation: 0.25s ease-in-out leftPrev forwards; }
    html.js .modal.prev.right {
      animation: 0.25s ease-in-out rightPrev forwards; }
  html.js .modal.active {
    display: block; }
    html.js .modal.active.left {
      animation: 0.25s ease-in-out leftActive forwards; }
    html.js .modal.active.right {
      animation: 0.25s ease-in-out rightActive forwards; }
