/* MODULES */
.is {
  width: 32px;
  height: 32px;
  fill: black; }
  .is.is-64 {
    width: 64px;
    height: 64px; }
  .is.is-128 {
    width: 128px;
    height: 128px; }
  .is.is-light-grey {
    fill: #bfbfbf; }

/* BASE */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section::after, blockquote::after, .modal::after {
  clear: both;
  content: "";
  display: block; }

section article, section .full, blockquote article, blockquote .full, .modal article, .modal .full {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  section article::after, section .full::after, blockquote article::after, blockquote .full::after, .modal article::after, .modal .full::after {
    clear: both;
    content: "";
    display: table; }

section .half, blockquote .half, .modal .half {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }

section .third, blockquote .third, .modal .third {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px; }

section .center, blockquote .center, .modal .center {
  text-align: center; }

section .two-thirds, blockquote .two-thirds, .modal .two-thirds {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px; }

@media (max-width: 768px) {
  section .half, blockquote .half, .modal .half {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; } }

.full-background {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; }

:root {
  font-size: 16px; }

body {
  min-width: 320px; }

body, select {
  font-family: 'Roboto', sans-serif; }

code {
  font-family: 'Roboto Mono', monospace, sans-serif; }

/* LAYOUTS */
section {
  padding: 1.875rem;
  margin-bottom: 2rem; }
  section p {
    font-size: 1.2rem;
    padding: 1rem;
    line-height: 1.5rem; }
  section h2 {
    font-size: 30px;
    margin: 2rem; }

a {
  color: #0a1a19;
  transition: color .25s ease-in-out;
  text-decoration: none;
  outline: 0;
  border: 0; }
  a:hover {
    color: #4bbfbd; }

button, a.button, input[type=submit] {
  cursor: pointer;
  display: inline-block;
  color: #e6e6e6;
  background: #32807e;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  padding: 0.75rem 3rem;
  border: 0.0625rem solid #32807e;
  transition: .25s ease-in-out;
  font-family: inherit;
  font-size: 100%; }
  button:hover, a.button:hover, input[type=submit]:hover {
    background: none;
    color: #32807e; }

.seperator {
  height: 16rem; }
  .seperator:nth-of-type(odd) {
    background-image: url(../img/quote.jpg); }
  .seperator:nth-of-type(even) {
    background-image: url(../img/quote1.jpg); }

nav {
  box-sizing: border-box;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
  padding: 1.875rem;
  border: 0; }
  nav::after {
    clear: both;
    content: "";
    display: table; }
  nav #logo {
    float: left; }
    nav #logo svg {
      width: 2.5rem;
      height: 2.5rem; }
  nav #mobile {
    display: none;
    float: right;
    font-size: 1.75rem;
    line-height: 2.5rem; }
  nav #links {
    float: right; }
    nav #links ul a li {
      display: inline;
      margin-left: 2.8125rem;
      height: 2.5rem;
      line-height: 2.5rem; }
  nav.fixed {
    position: fixed;
    background: white;
    border-bottom: 0.0625rem solid #0a1a19;
    padding: 1rem; }

@media (max-width: 500px) {
  nav #mobile {
    display: inline; }
  nav #links {
    display: none;
    float: none;
    position: fixed;
    left: 100%;
    top: 0;
    background: white;
    height: 100vh;
    padding: 0 3rem;
    border-left: 0.0625rem solid #0a1a19;
    text-align: center; }
    nav #links ul a li {
      display: list-item;
      margin-left: 0; } }

#offset {
  margin: 0;
  padding: 0;
  height: 4.75rem; }

header#landing {
  width: 100%;
  height: 100vh;
  background: url(../img/landing.jpg) no-repeat center bottom fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  header#landing svg {
    filter: drop-shadow(0.0625rem 0.0625rem 0.5rem rgba(0, 0, 0, 0.5));
    width: 20rem;
    height: 7.125rem; }
  header#landing p {
    filter: drop-shadow(0.0625rem 0.0625rem 0.2rem rgba(0, 0, 0, 0.5));
    color: white;
    font-size: 1.6rem; }

#about img {
  border-radius: 100%;
  width: 13rem;
  margin-bottom: 2rem; }

.photogrid {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap; }
  .photogrid label.photo {
    cursor: pointer; }
  .photogrid .photo {
    position: relative;
    flex-grow: 1;
    width: 21.416rem;
    height: 21.416rem;
    overflow: hidden; }
    .photogrid .photo img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%); }
    .photogrid .photo::after {
      opacity: 0;
      color: white;
      text-align: center;
      line-height: 21.416rem;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(50, 128, 126, 0.5);
      transition: opacity .5s ease-in-out;
      content: attr(data-title); }
    .photogrid .photo:hover::after {
      opacity: 1; }

.fullscreen-photo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10; }
  .fullscreen-photo .photo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }

#blog ul li {
  position: relative;
  border-left: 0.75rem solid;
  padding: 0.5rem 1rem 1rem 1.5rem;
  margin-bottom: 4rem; }
  #blog ul li h3 {
    font-size: 2rem; }
  #blog ul li p {
    padding: 1rem 0; }
  #blog ul li span.more {
    position: absolute;
    bottom: 0;
    right: 0; }
  #blog ul li:nth-child(4n+1) {
    border-color: #0a1a19; }
  #blog ul li:nth-child(4n+2) {
    border-color: #19403e; }
  #blog ul li:nth-child(4n+3) {
    border-color: #32807e; }
  #blog ul li:nth-child(4n+4) {
    border-color: #4bbfbd; }
  #blog ul li::before {
    content: attr(data-date);
    position: absolute;
    left: -0.75rem;
    bottom: 0;
    color: #bfbfbf;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(0, -100%); }

#archive #sort {
  text-align: right;
  padding-right: 2rem; }
  #archive #sort > div {
    display: inline-block; }
  #archive #sort select {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    border-bottom: 0.75rem solid #32807e;
    padding: 0.5rem 0; }
    #archive #sort select option {
      font-size: 1.25rem; }
  #archive #sort ul li {
    margin: 2rem 0;
    font-size: 1.25rem; }
    #archive #sort ul li.active {
      text-decoration: underline; }

@media (max-width: 900px) {
  #archive #sort {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    text-align: center;
    padding-right: 0;
    height: auto; }
    #archive #sort > div {
      display: block;
      width: 100%;
      margin-bottom: 2rem; }
    #archive #sort ul {
      column-count: 3;
      margin-top: 2rem;
      height: auto; }
      #archive #sort ul li {
        margin-top: 0; }
  #archive #blog {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; } }

@media (max-width: 550px) {
  #archive #sort ul {
    column-count: 2; } }

@media (max-width: 370px) {
  #archive #sort ul {
    column-count: 1; } }

#hello {
  background-image: url(../img/hello.jpg);
  color: white; }
  #hello ul li {
    font-size: 4rem;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    border-radius: 100%;
    background: #32807e;
    color: white;
    margin: 2.5rem;
    border: 0.2rem solid #32807e;
    transition: background .25s ease-in-out, color .25s ease-in-out; }
    #hello ul li:hover {
      background: none;
      color: #32807e; }

#contact form * {
  display: inline-block; }

#contact form label {
  font-size: 1.25rem;
  padding: 0.2rem;
  padding-left: 0;
  margin-top: 2rem; }

#contact form input[type=text], #contact form textarea {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  border: 0.0625rem solid black;
  border-top-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  transition: border-color .25s ease-in-out; }
  #contact form input[type=text]:focus, #contact form textarea:focus {
    outline: 0;
    border-color: #4bbfbd; }

#contact form input[type=submit] {
  margin: 2rem 0;
  width: 100%; }

#contact form textarea {
  max-width: 100%; }

@media (max-width: 650px) {
  form .half {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; } }

footer {
  width: 100%;
  color: white; }
  footer section {
    margin: 0 auto; }
  footer#links {
    background: #0a1a19; }
    footer#links section > div {
      display: flex;
      justify-content: space-around; }
    footer#links h4 {
      font-size: 1.5rem;
      margin: 1em 0;
      text-align: center; }
    footer#links ul {
      margin: 1em 0; }
      footer#links ul li {
        margin: 1em 0; }
        footer#links ul li a {
          color: white; }
          footer#links ul li a:hover {
            color: #4bbfbd; }
  footer#desc {
    background: #19403e; }
    footer#desc p {
      font-size: 100%; }

@media (max-width: 650px) {
  footer#links ul {
    display: block;
    margin: auto;
    text-align: center; }
  footer#links section > div {
    flex-direction: column; } }

.highlighter-rouge {
  background: #e6e6e6;
  border-radius: 0 0.625rem 0 0.625rem;
  padding: 0 0.5rem; }

.highlight {
  background: #e6e6e6;
  border-radius: 0 0.625rem 0 0.625rem;
  padding: 1rem;
  margin: 1rem 0; }
  .highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
    color: #4bbfbd;
    font-style: italic; }
  .highlight .err {
    border: 1px solid #FF0000; }
  .highlight .k {
    color: #32807e;
    font-weight: bold; }
  .highlight .o {
    color: #32807e;
    font-weight: bold; }
  .highlight .gd {
    color: #404040; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #FF0000; }
  .highlight .gh {
    color: #000000;
    font-weight: bold; }
  .highlight .gi {
    color: #32807e; }
  .highlight .go {
    color: #19403e; }
  .highlight .gp {
    color: #0a1a19;
    font-weight: bold; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #000000;
    font-weight: bold; }
  .highlight .gt {
    color: #19403e; }
  .highlight .kc, .highlight .kd, .highlight .kn {
    color: #32807e;
    font-weight: bold; }
  .highlight .kp, .highlight .kr, .highlight .kt {
    color: #4bbfbd; }
  .highlight .m, .highlight .s, .highlight .na {
    color: #4bbfbd; }
  .highlight .nb {
    color: #19403e; }
  .highlight .nc {
    color: #32807e;
    font-weight: bold; }
  .highlight .no {
    color: #19403e; }
  .highlight .nd, .highlight .ne, .highlight .ni, .highlight .nf, .highlight .nl, .highlight .nn, .highlight .nt, .highlight .nb {
    color: #32807e; }
  .highlight .ow {
    color: #32807e;
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .il {
    color: #4bbfbd; }
  .highlight .bp {
    color: #0a1a19; }
  .highlight .vc, .highlight .vg, .highlight .vi {
    color: #0a1a19; }

.photogrid input[type="radio"] {
  display: none; }

.modal-container {
  overflow: auto;
  overflow-x: hidden;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: white;
  box-sizing: border-box; }
  input[type="radio"]:not(:checked) + .modal-container {
    display: block; }
  .modal-container .close {
    position: fixed;
    right: 0;
    top: 0;
    line-height: 0;
    padding: 20px 20px 0 0; }
    @media (min-width: 1200px) {
      .modal-container .close {
        padding: 30px 30px 0 0; } }
    .modal-container .close svg.is {
      width: 48px;
      height: 48px;
      fill: #bfbfbf;
      cursor: pointer;
      transition: transform 0.5s ease-in-out;
      transform-origin: center center;
      transform: rotate(0deg); }
      @media (min-width: 1200px) {
        .modal-container .close svg.is {
          width: 64px;
          height: 64px; } }
      .modal-container .close svg.is:hover {
        transform: rotate(90deg); }
  .modal-container .left-control, .modal-container .right-control {
    z-index: 21;
    user-select: none;
    position: fixed;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%); }
    .no-js .modal-container .left-control, .no-js .modal-container .right-control {
      display: none; }
    .modal-container .left-control svg.is, .modal-container .right-control svg.is {
      width: 48px;
      height: 48px;
      fill: #bfbfbf;
      cursor: pointer; }
      @media (min-width: 1200px) {
        .modal-container .left-control svg.is, .modal-container .right-control svg.is {
          width: 100px;
          height: 100px; } }
  .modal-container .left-control {
    left: 28px;
    margin-left: -24px; }
  .modal-container .right-control {
    right: 28px;
    margin-right: -24px; }
  @media (min-width: 1200px) {
    .modal-container .left-control {
      left: 10%;
      margin-left: -50px; }
    .modal-container .right-control {
      right: 10%;
      margin-right: -50px; } }

.modal {
  background: white;
  display: none;
  max-height: 0;
  visibility: hidden;
  box-sizing: border-box;
  width: 100%; }
  input[type="radio"]:checked + .modal {
    display: block; }
  .modal h2 {
    display: inline-block;
    width: auto;
    text-align: right;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; }
    .modal h2 span.date {
      width: 100%;
      font-size: 20px;
      color: #bfbfbf; }
  .modal .content {
    margin-bottom: 2rem;
    padding: 90px 20px;
    box-sizing: border-box; }
    @media (min-width: 1200px) {
      .modal .content {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 60%; } }
    .modal .content ol {
      list-style-type: decimal; }
    .modal .content ul {
      list-style-type: initial; }
    .modal .content ul, .modal .content ol {
      font-size: 1.2rem;
      list-style-position: inside;
      padding: 1rem;
      line-height: 1.5rem; }
      .modal .content ul li, .modal .content ol li {
        margin: 1rem 0; }
        .modal .content ul li:first-child, .modal .content ol li:first-child {
          margin-top: 0; }
        .modal .content ul li:last-child, .modal .content ol li:last-child {
          margin-bottom: 0; }
    .modal .content blockquote {
      border-left: 0.75rem solid #32807e;
      margin: 1rem; }
      .modal .content blockquote em {
        text-decoration: none;
        color: #bfbfbf; }
    .modal .content img {
      max-width: 100%;
      margin: 1rem 0; }
    .modal .content a {
      border-bottom: 0.1rem dotted #000000; }

@keyframes leftActive {
  0% {
    max-height: 0px;
    visibility: hidden;
    transform: translate(-100%, 0); }
  1% {
    max-height: 9999px;
    visibility: visible; }
  100% {
    transform: translate(0, 0);
    max-height: 9999px;
    visibility: visible; } }

@keyframes rightActive {
  0% {
    max-height: 0px;
    min-height: 0px;
    visibility: hidden;
    transform: translate(100%, 0); }
  1% {
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  100% {
    transform: translate(0, 0);
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; } }

@keyframes leftPrev {
  0% {
    position: fixed;
    transform: translate(0, 0);
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  99% {
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  100% {
    position: absolute;
    transform: translate(-100%, 0);
    max-height: 0px;
    min-height: 0px;
    visibility: hidden; } }

@keyframes rightPrev {
  0% {
    position: fixed;
    transform: translate(0, 0);
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  99% {
    max-height: 9999px;
    min-height: 100%;
    visibility: visible; }
  100% {
    position: absolute;
    transform: translate(100%, 0);
    max-height: 0px;
    min-height: 0px;
    visibility: hidden; } }

input[type="radio"]:checked + .modal {
  min-height: 100%;
  transform: translate(0, 0);
  max-height: 9999px;
  visibility: visible; }

html.js .modal {
  position: absolute;
  overflow: hidden; }
  html.js .modal.prev {
    display: block; }
    html.js .modal.prev.left {
      animation: 0.25s ease-in-out leftPrev forwards; }
    html.js .modal.prev.right {
      animation: 0.25s ease-in-out rightPrev forwards; }
  html.js .modal.active {
    display: block; }
    html.js .modal.active.left {
      animation: 0.25s ease-in-out leftActive forwards; }
    html.js .modal.active.right {
      animation: 0.25s ease-in-out rightActive forwards; }
