/* Colors */
body {
  --background: #fff;
  --background-subtle: #eee;
  --text: #000;
  --text-subtle: #333;
  --primary: teal;
  --secondary: aquamarine;
  --text-light: #fff;
  --text-dark: #000;
  --highlight: gold;
}

*:focus {
  outline: 2px solid var(--highlight);
  outline-offset: 3px;
}

.button.button--mode-toggle {
  all: unset;
  margin-left: 125px;
  margin-right: 10px;
}

.button.button--mode-toggle:focus {
  outline: 2px solid var(--highlight);
  outline-offset: 3px;
}

.button.button--mode-toggle svg:nth-child(1) {
  display: block;
}

.button.button--mode-toggle svg:nth-child(2) {
  display: none;
}

body.dark-mode {
  --background: #222;
  --background-subtle: #333;
  --text: #fff;
  --text-subtle: #ccc;
  --primary: teal;
  --secondary: aquamarine;
  --text-light: #fff;
}

body.dark-mode .button.button--mode-toggle svg:nth-child(1) {
  display: none;
}

body.dark-mode .button.button--mode-toggle svg:nth-child(2) {
  display: block;
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #222;
    --background-subtle: #333;
    --text: #fff;
    --text-subtle: #ccc;
    --primary: teal;
    --secondary: aquamarine;
    --text-light: #fff;
  }

  .button.button--mode-toggle svg:nth-child(1) {
    display: none;
  }

  .button.button--mode-toggle svg:nth-child(2) {
    display: block;
  }

  body.light-mode {
    --background: #fff;
    --background-subtle: #eee;
    --text: #000;
    --text-subtle: #333;
    --primary: teal;
    --secondary: aquamarine;
    --text-light: #fff;
    --text-dark: #000;
  }

  body.light-mode .button.button--mode-toggle svg:nth-child(1) {
    display: block;
  }
  
  body.light-mode .button.button--mode-toggle svg:nth-child(2) {
    display: none;
  }
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: var(--text);
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.75em;
}

p, .tmpl-post ul, .tmpl-post ol {
  margin-bottom: 2em;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  width: 100%;
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.8;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}

.fullbleed--teal {
  background-color: teal;
}

main > section, main > .fullbleed > section {
  margin: 0 auto;
  max-width: 37.5em;
}

main > section {
  padding: 1rem;
}

main > :first-child {
  margin-top: 0;
}

header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  width: 100%;
  height: 4px;
  left: 0;
  right: 0;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  z-index: 1;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

:not(.code-container) > code {
  word-break: break-all;
  background-color: var(--background-subtle);
  border: 3px solid var(--background-subtle);
  border-radius: 3px;
  padding: 0 3px;
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

/* Header */
.header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.header #logoLink {
  height: 48px;
  padding: 0 5px 5px 5px;
  margin: 5px 0 5px 5px;
  outline-offset: -2px;
}

.header .logo--animated {
  padding-bottom: 5px;
}

.header .logo--small {
  display: none;
}

@media (max-width: 500px) {
  .header .logo--small {
    display: block;
    width: 38px;
    height: 48px;
    padding: 5px 0;
  }

  .header .logo--animated {
    display: none;
  }

  .button.button--mode-toggle {
    margin-left: 19px;
  }
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  width: 37.5em;
  max-width: 37.5em;
  margin: 0 auto;
  text-align: center;
}
.nav-item {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  line-height: 1.8;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  margin-left: .25em;
  margin-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 400;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--text);
  border: 1px solid var(--primary);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--secondary);
  color: var(--text-dark);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--text-subtle);
}

/* Footer Icons */
footer {
  display: grid;
  place-items: center;
}

footer .icons {
  margin: 0;
  padding: 0;
}

footer .icons li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

footer .icons li a {
  display: grid;
  place-items: center;
  width: 44px;
  height: 44px;
}

footer .icons li a:focus {
  outline-offset: -2px;
}

footer .icons li:hover svg {
  color: var(--primary);
}