footer
  background: $accent-light
  section
    +display(flex)
    +align-items(center)
    padding: 20px 0
    > div
      color: white
      text-align: center
      ul
        list-style-type: none
        li
          padding: 1rem 0
          a
            color: white
          a:hover
            color: $accent-dark
    > div:first-child
      text-align: right
    > div:last-child
      text-align: left
