nav
  z-index: 5
  position: absolute
  top: 0
  left: 0
  width: 100%
  min-width: 320px
  +clearfix()
  +transition(background .5s ease-in-out, padding .5s ease-in-out)
  padding: 1.875rem
  border: 0
  #logo
    float: left
    svg
      width: 2.5rem
      height: 2.5rem
  #mobile
    display: none
    float: right
    font-size: 1.75rem
    line-height: 2.5rem
  #links
    float: right
    ul
      a
        li
          display: inline
          margin-left: 2.8125rem
          height: 2.5rem
          line-height: 2.5rem
  &.fixed
    position: fixed
    background: white
    border-bottom: 0.0625rem solid $darkest-turquoise
    padding: 1rem
+media(max-width 500px)
  nav
    #mobile
      display: inline
    #links
      display: none
      float: none
      position: fixed
      left: 100%
      top: 0
      background: white
      height: 100vh
      padding: 0 3rem
      border-left: 0.0625rem solid $darkest-turquoise
      text-align: center
      ul
        a
          li
            display: list-item
            margin-left: 0

#offset
  margin: 0
  padding: 0
  height: 4.75rem
