.blog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (min-width: 575px) {
  .blog {
    max-width: 260px;
    max-height: 500px;
    height: 100%;
  }
}

@media (min-width: 950px) {
  .blog {
    max-width: none;
    padding: 0 2rem;
  }
}

.subtitle {
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--light-grey);
  margin: 0 0 1rem 0;
}

.filter {
  position: relative;
  margin: 0 0 1rem 0;
}

.filter input {
  width: 100%;
  font-family: inherit;
  font-weight: normal;
  font-size: 0.875rem;
  padding: 0.625rem 0.75rem;
  border-radius: 0.625rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  border-bottom: 0.25rem solid black;
}

.close.disabled {
  cursor: auto;
  stroke: var(--dark-grey);
}

.close {
  stroke: black;
  position: absolute;
  right: 0;
  width: auto;
  height: calc(100% - 0.25rem);
  padding: 0.75rem;
  cursor: pointer;
}

.posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  overflow: auto;
}

@media (min-width: 575px) {
  .posts {
    flex-basis: 0;
  }
}

.post {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 0.75rem;
  line-height: 1.5rem;
}

.post__title {
  font-size: 0.875rem;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.post__title:hover,
.post__title:focus,
.post__title:active {
  color: white;
}

.post__tag {
  font-size: 0.75rem;
  font-weight: normal;
  color: black;
  border-radius: 0.56rem;
  padding: 0.125rem 0.375rem;
  white-space: nowrap;
  cursor: pointer;
}

.post__date {
  font-size: 0.875rem;
  color: var(--light-grey);
  padding: 0 0 0 0.5rem;
}
