<script src="{{ "/script.js" | prepend: site.jspath | prepend: site.baseurl }}"></script>
<footer>
  <span>&copy; Copyright Andrew Leedham 2017. Design All Rights Reserved. Codebase <a href="https://github.com/AndrewLeedham/AndrewLeedham.github.io">Open Source</a> under <a href="https://raw.githubusercontent.com/AndrewLeedham/AndrewLeedham.github.io/master/LICENSE">MIT</a></span>
  <a href="http://andrewleedham.me"><img src="./img/al_logo-credit-black.svg" alt="made by AndrewLeedham"></a>
</footer>
