<nav>
  <div id="logo">
    {% include al_logo-small-black.svg %}

  </div>
  <div id="links">
    <ul>
      <a href="#"><li>{% include iconset/cross.svg %}</li></a>
      <a href="#"><li>{% include iconset/cross.svg %}</li></a>
      <a href="#"><li>{% include iconset/cross.svg %}</li></a>
    </ul>
  </div>
</nav>
<header id="parallax">
  <div class="header__image--background"></div>
  {% include al_logo-large-white.svg %}
  <p>Web Designer &amp; Developer</p>
  <div class="header__image--foreground"></div>
</header>