---
layout: default
---
<section id="blog">
  <div class="full center">
    {% case page.type %}
      {% when 'year' %}
        <h2>Posts from {{ page.date | date: '%Y' }}</h2>
      {% when 'month' %}
        <h2>Posts from {{ page.date | date: '%B %Y' }}</h2>
      {% when 'category' %}
        <h2>Posts from the category {{ page.title }}</h2>
    {% endcase %}
  </div>
  <div class="full">
    <ul>
      {% for post in page.posts %}
        {% if post.categories contains 'blog' %}
          <li data-date="{{ post.date | date: '%d/%m/%Y' }}">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content | strip_html | truncate: 256, '...' }}</p>
            <span class="more"><a href="{{ post.url | prepend: site.baseurl }}">Read more...</a></span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
