<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% if page.landing %}
      {% include landing.html landing=true %}
    {% else %}
      {% include header.html landing=false %}
    {% endif %}
    <section id="offset"></section>
    {{ content }}
    {% if page.landing %}
      {% include footer.html landing=true %}
    {% else %}
      {% include footer.html landing=false %}
    {% endif %}
    <div class="overlay">
      <center>
        {% include title.svg %}
        <br/>
        <br/>
        <p>
          Site information is currently out of date, currently under maintenance.
        </p>
        <br/>
        <button id="close-overlay">See outdated site ></button>
      </center>
    </div>
  </body>

</html>
