<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section>
      <div class="full center">
        <h1>{{ page.title }}</h1>
      </div>
    <div class="full">
      <div class="photo-list">
        {% assign path = "img/galleries/" | append: page.gallery %}
        {% for image in site.static_files %}
          {% if image.path contains path %}
            <div>
              <a href="#">
                <img src="{{ site.baseurl }} {{ image.path }}"
                     alt="{{ page.title }} thumbnail.">
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
      {{ content }}
    </section>

    {% include footer.html %}

  </body>

</html>
