#blog
  ul
    li
      position: relative
      border-left: 0.75rem solid
      padding: 0.5rem 1rem 1rem 1.5rem
      margin-bottom: 4rem
      h3
        font-size: 2rem
      p
        padding: 1rem 0
      span.more
        position: absolute
        bottom: 0
        right: 0
      &:nth-child(4n+1)
        border-color: $darkest-turquoise
      &:nth-child(4n+2)
        border-color: $dark-turquoise
      &:nth-child(4n+3)
        border-color: $light-turquoise
      &:nth-child(4n+4)
        border-color: $lightest-turquoise
      &::before
        content: attr(data-date)
        position: absolute
        left: -0.75rem
        bottom: 0
        color: $light-grey
        transform-origin: 0 0
        transform: rotate(-90deg) translate(0, -100%)

#archive
  #sort
    text-align: right
    padding-right: 2rem
    > div
      display: inline-block
    select
      width: 100%
      border: 0
      outline: 0
      font-size: 1.5rem
      border-bottom: 0.75rem solid $light-turquoise
      padding: 0.5rem 0
      option
        font-size: 1.25rem
    ul
      li
        margin: 2rem 0
        font-size: 1.25rem
        &.active
          text-decoration: underline

@media (max-width: 900px)
  #archive
    #sort
      +grid-column(12)
      text-align: center
      padding-right: 0
      height: auto
      > div
        display: block
        width: 100%
        margin-bottom: 2rem
      ul
        column-count: 3
        margin-top: 2rem
        height: auto
        li
          margin-top: 0
    #blog
      +grid-column(12)

@media (max-width: 550px)
  #archive
    #sort
      ul
        column-count: 2

@media (max-width: 370px)
  #archive
    #sort
      ul
        column-count: 1
