footer
  section
    margin: 0 auto
  width: 100%
  color: white
  &#links
    background: $darkest-turquoise
    section > div
      display: flex
      justify-content: space-around
    h4
      font-size: 1.5rem
      margin: 1em 0
      text-align: center
    ul
      margin: 1em 0
      li
        margin: 1em 0
        a
          color: white
          &:hover
            color: $lightest-turquoise
  &#desc
    background: $dark-turquoise
    p
      font-size: 100%

@media (max-width: 650px)
  footer#links
    ul
      display: block
      margin: auto
      text-align: center
    section > div
      flex-direction: column
