nav
  box-sizing: border-box
  z-index: 5
  position: fixed
  top: 0
  right: 0
  width: auto
  padding: 30px
  border: 0
  background: white
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25)
  border-top-left-radius: 0.625rem
  border-bottom-right-radius: 0.625rem
  
  &:hover, &:focus
    #links
      width: 255px

  #logo
    float: right
    svg
      width: 40px
      height: 40px
  #links
    float: right
    overflow: hidden
    width: 0px
    transition: width 0.25s ease-in-out
    ul
      margin: 0
      padding: 0
      overflow: visible
      height: 40px
      width: 255px
      box-sizing: border-box
      a
        li
          padding: 0
          margin: 0
          display: inline
          margin-right: 45px
          svg
            width: 40px
            height: 40px
