.tile-grid
  display: flex
  flex-wrap: wrap
  justify-content: center
  figure
    position: relative
    width: 100%
    min-height: 400px
    overflow: hidden
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    +tablet
      max-width: 50%
    +desktop
      max-width: 33.3%
    img
      position: relative
      top: 50%
      left: 50%
      width: 100%
      transform: translate(-50%, -50%)
    .blur
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      filter: blur(10px) brightness(130%)
      opacity: 0
      transition: opacity .5s ease-in-out
    figcaption
      opacity: 0
      color: white
      text-align: center
      font-size: 2rem
      position: absolute
      top: 0
      left: 0
      width: 100%
      min-height: 100%
      transition: opacity .5s ease-in-out, max-height 0s linear .5s, visibility 0s linear .5s
      padding: 30px
      box-sizing: border-box
      max-height: 0
      visibility: hidden
      font-size: 1rem
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      h2
        word-wrap: break-word
        overflow-wrap: break-word
        max-width: 100%
      p
        text-align: left
        img
          display: none
    &:hover, &:focus
      .blur
        opacity: 1
      figcaption
        transition: opacity .5s ease-in-out, max-height 0s linear 0s, visibility 0s linear 0s
        max-height: 9999px
        visibility: visible
        opacity: 1