<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="color-scheme" content="light dark">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/base.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/shiki.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any">
    <link rel="icon" href="{{ '/img/favicon.svg' | url }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ '/img/apple-touch-icon.png' | url }}">
    <link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">
  </head>
  <body>
   <script type="application/javascript">
      const currentMode = localStorage.getItem('mode');
      const colorSchemeTag = document.querySelector('meta[name="color-scheme"]');

      if (currentMode === 'dark') {
        document.body.classList.toggle('dark-mode');
        colorSchemeTag.setAttribute('content', 'dark')
      } else if (currentMode === 'light') {
        document.body.classList.toggle('light-mode');
        colorSchemeTag.setAttribute('content', 'light')
      }

      window.toggleMode = () => {
        const systemLevelDark = window.matchMedia('(prefers-color-scheme: dark)');
        const colorSchemeTag = document.querySelector('meta[name="color-scheme"]');
        let mode;
        if (systemLevelDark.matches) {
          document.body.classList.toggle('light-mode');
          mode = document.body.classList.contains('light-mode') ? 'light' : 'dark';
        } else {
          document.body.classList.toggle('dark-mode');
          mode = document.body.classList.contains('dark-mode') ? 'dark' : 'light';
        }
        localStorage.setItem('mode', mode);
        colorSchemeTag.setAttribute('content', mode)
      }
    </script>
    {% if not noHeader %}
      <header class="header">
          <a id="logoLink" href="{{ '/' | url }}" aria-label="Go to the Andrew Leedham homepage">{% include '../../img/logo--animated.svg' %}{% include '../../img/logo--small.svg' %}</a>
          <script type="application/javascript">
            const logoLink = document.getElementById('logoLink');
            const animations = Array.from(logoLink.getElementsByTagName('animate'));
            if (animations.length) {
              logoLink.addEventListener('focus', () => {
                animations.forEach((animation, index) => index % 2 !== 0 && animation.beginElement());
              })
              logoLink.addEventListener('blur', () => {
                animations.forEach((animation, index) => index % 2 === 0 && animation.beginElement());
              })
            }
          </script>
          <ul class="nav">
            {%- for entry in collections.all | eleventyNavigation %}
              <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
          <button aria-label="Toggle Colour Mode" class="button button--mode-toggle" onclick="window.toggleMode()">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M3.55,18.54L4.96,19.95L6.76,18.16L5.34,16.74M11,22.45C11.32,22.45 13,22.45 13,22.45V19.5H11M12,5.5A6,6 0 0,0 6,11.5A6,6 0 0,0 12,17.5A6,6 0 0,0 18,11.5C18,8.18 15.31,5.5 12,5.5M20,12.5H23V10.5H20M17.24,18.16L19.04,19.95L20.45,18.54L18.66,16.74M20.45,4.46L19.04,3.05L17.24,4.84L18.66,6.26M13,0.55H11V3.5H13M4,10.5H1V12.5H4M6.76,4.84L4.96,3.05L3.55,4.46L5.34,6.26L6.76,4.84Z" />
            </svg>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M17.75,4.09L15.22,6.03L16.13,9.09L13.5,7.28L10.87,9.09L11.78,6.03L9.25,4.09L12.44,4L13.5,1L14.56,4L17.75,4.09M21.25,11L19.61,12.25L20.2,14.23L18.5,13.06L16.8,14.23L17.39,12.25L15.75,11L17.81,10.95L18.5,9L19.19,10.95L21.25,11M18.97,15.95C19.8,15.87 20.69,17.05 20.16,17.8C19.84,18.25 19.5,18.67 19.08,19.07C15.17,23 8.84,23 4.94,19.07C1.03,15.17 1.03,8.83 4.94,4.93C5.34,4.53 5.76,4.17 6.21,3.85C6.96,3.32 8.14,4.21 8.06,5.04C7.79,7.9 8.75,10.87 10.95,13.06C13.14,15.26 16.1,16.22 18.97,15.95M17.33,17.97C14.5,17.81 11.7,16.64 9.53,14.5C7.36,12.31 6.2,9.5 6.04,6.68C3.23,9.82 3.34,14.64 6.35,17.66C9.37,20.67 14.19,20.78 17.33,17.97Z" />
            </svg>
          </button>
      </header>
    {% endif %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    {% if not noFooter %}
      <footer>
        <ul class="icons">
          <li>
            <a aria-labelledby="twitter__title" href="https://twitter.com/AndrewJLeedham">
              <svg role="img" width="24px" height="24px" fill="#000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title id="twitter__title">See Andrew Leedham's Twitter</title>
                <path fill="currentColor" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a aria-labelledby="linkedin__title" href="https://www.linkedin.com/in/andrew-leedham-ba864b112/">
              <svg role="img" width="24px" height="24px" fill="#000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title id="linkedin__title">See Andrew Leedham's Linked In</title>
                <path fill="currentColor" d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z"></path>
              </svg>
            </a>
          </li>
          <li>
            <a aria-labelledby="github__title" href="https://github.com/AndrewLeedham">
              <svg role="img" width="24px" height="24px" fill="#000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title id="github__title">Andrew Leedham's GitHub</title>
                <path fill="currentColor" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
              </svg>
            </a>
          </li>
          <li>
            <a aria-labelledby="stack-overflow__title" href="http://stackoverflow.com/users/2386508/andrew-leedham">
              <svg role="img" width="24px" height="24px" fill="#000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title id="stack-overflow__title">See Andrew Leedham's Stack Overflow</title>
                <path fill="currentColor" d="M17.36,20.2V14.82H19.15V22H3V14.82H4.8V20.2H17.36M6.77,14.32L7.14,12.56L15.93,14.41L15.56,16.17L6.77,14.32M7.93,10.11L8.69,8.5L16.83,12.28L16.07,13.9L7.93,10.11M10.19,6.12L11.34,4.74L18.24,10.5L17.09,11.87L10.19,6.12M14.64,1.87L20,9.08L18.56,10.15L13.2,2.94L14.64,1.87M6.59,18.41V16.61H15.57V18.41H6.59Z"></path>
              </svg>
            </a>
          </li>
        </ul>
      </footer>
    {% endif %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>