---
layout: default
---
<section id="about">
  <div class="full center">
    <h2>About</h2>
  </div>
  <div class="full center">
    <img src="{{ '/img/me.png' | prepend: site.baseurl }}" alt="Portrait of Andrew Leedham"/>
  </div>
  <div class="row">
    <div class="half">
      <p>Hi, my name is Andrew Leedham. I grew up in Nottingham United Kingdom and studied A-Level Computing, Maths and Photography. I'm currently a student at Hull University studying Computer Science.</p>
      <p>I am also an amateur Photographer, I enjoy landscape photography(mainly sunsets), as well as macro photography. See my <a href="#portfolio">portfolio</a> for my photography</p>
    </div>
    <div class="half">
      <p>I love exploring new fields in Computing, I find them all fascinating. I've found that Web Design is the most rewarding and intriguing topic, I've designed a lot of websites in my time, including this one, most of my other projects aren't live, since I tend to develop websites for fun and to learn with no intended purpose. I did an internship at Riverdene Consulting in 2012, where I produced a digital sign in system for the office, so they could pull stats from the employees punctuality.</p>
    </div>
  </div>
</section>
<div class="full-background seperator"></div>
<section id="projects">
  <div class="full center">
    <h2>Projects</h2>
  </div>
  <div id="projects" class="full">
    <div class="photogrid">
      {% assign total_projects = site.projects | size %}
      {% for project in site.projects %}
        {% assign id = project.title | replace: '.' , '' | replace: ' ', '' | replace: ',', '' | lowercase %}
        <label class="photo" data-title="{{ project.title }}" for="{{ id }}">
          <picture>
            <source srcset="{{ '/thumbnail.webp' | prepend: project.title | prepend: '/img/projects/' | prepend: site.baseurl | replace, ' ', '%20' }}" type="image/webp">
            <source srcset="{{ '/thumbnail.jpg' | prepend: project.title | prepend: '/img/projects/' | prepend: site.baseurl | replace, ' ', '%20' }}" type="image/jpeg"> 
            <img src="{{ '/thumbnail.jpg' | prepend: project.title | prepend: '/img/projects/' | prepend: site.baseurl | replace, ' ', '%20' }}" alt="{{ project.title | append: 'Thumbnail' }}">
          </picture>
        </label>
      {% endfor %}
      <input type="radio" id="toggle-modal-close" name="toggle-modal" checked>
      <div class="modal-container">
        {% if total_projects > 1 %}
          <span class="left-control">
            {% include iconset/caret-left.svg %}
          </span>
        {% endif %}
        {% for project in site.projects %}
          {% assign id = project.title | replace: '.' , '' | replace: ' ', '' | replace: ',', '' | lowercase %}
          <input type="radio" id="{{ id }}" name="toggle-modal">
          <div class="modal">
            <div class="full content">
              <div class="center">
                <h2>{{ project.title }}<br/><span class="date">{{ project.date | date: '%d/%m/%Y' }}</span></h2>
              </div>
              {{ project.content | markdownify }}
            </div>
          </div>
        {% endfor %}
        <label class="close" for="toggle-modal-close">{% include iconset/cross.svg %}</label>
        {% if total_projects > 1 %}
          <span class="right-control">
            {% include iconset/caret-right.svg %}
          </span>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<div class="full-background seperator"></div>
<section id="blog">
  <div class="full center">
    <h2>Photography</h2>
  </div>
  <div id="projects" class="full">
    <div class="photogrid">
      {% for photoshoot in site.data.photoshoots %}
        <a class="photo" href="{{ photoshoot.link }}" target="_blank" data-title="{{ photoshoot.title }}">
          <picture>
            <source srcset="{{ '/thumbnail.webp' | prepend: photoshoot.title | prepend: '/img/photoshoots/' | prepend: site.baseurl | replace, ' ', '%20' }}" type="image/webp">
            <source srcset="{{ '/thumbnail.jpg' | prepend: photoshoot.title | prepend: '/img/photoshoots/' | prepend: site.baseurl | replace, ' ', '%20' }}" type="image/jpeg"> 
            <img src="{{ '/thumbnail.jpg' | prepend: photoshoot.title | prepend: '/img/photoshoots/' | prepend: site.baseurl | replace, ' ', '%20' }}" alt="{{ photoshoot.title | append: ' Thumbnail' }}">
          </picture>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
<div class="full-background" id="hello">
  <section>
    <div class="full center">
      <h2>Say Hello</h2>
    </div>
    <div class="full center">
      <ul>
        <a href="mailto:{{ site.email }}">
          <li>
            <i class="fa fa-envelope"></i>
          </li>
        </a>
        <a href="http://{{ site.tumblr }}.tumblr.com" target="_blank">
          <li>
            <i class="fa fa-tumblr"></i>
          </li>
        </a>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
          <li>
            <i class="fa fa-twitter"></i>
          </li>
        </a>
      </ul>
    </div>
    <div class="full center">
      <p>I’d love to hear from you, whether you just want to say hi, you have a question or you want a website designing and or creating. The best way to get ahold of me is to just drop me an email with a sensible subject.</p>
    </div>
  </section>
</div>
<section id="contact">
  <form action="//formspree.io/AndrewLeedham@Outlook.com" method="POST">
    <input type="text" name="_gotcha" style="display:none"/>
    <div class="row">
      <div class="half">
        <label for="name">Name</label>
        <input id="name" type="text" name="name"/>
      </div>
      <div class="half">
        <label for="email">Email</label>
        <input id="email" type="text" name="_replyto"/>
      </div>
    </div>
    <div class="full">
      <label for="message">Message</label>
      <textarea id="message" name="message" rows="8" cols="40"></textarea>
    </div>
    <div class="full">
      <input type="submit" value="Send"/>
    </div>
  </form>
</section>
