$accent-light: #77DD77
$accent-dark: #4E914E
$lightest-grey: tint(black, 95%)
$light-grey: tint(black, 90%)
$medium-grey: tint(black, 70%)
$dark-grey: tint(black, 50%)
$darkest-grey: tint(black, 45%)
